/*font-family: 'Poppins', sans-serif;*/
:root {
  --link-color: #6c63ff;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  background: #202124;
}
h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}
h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}
h4 {
  font-size: 25px;
  margin: 0;
}
p,
a {
  font-family: "Poppins", sans-serif;
}

.heading {
  margin: 90px auto 10px;
  background: #f9f7fe;
}
.heading p {
  font-size: 15px;
}
a {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: var(--link-color);
  font-size: 15px;
  box-shadow: var(--box-shadow);
}
.heading img {
  border-radius: 10px;
}
